In [1]:
import pandas as pd

In [40]:
targets_validados = pd.read_pickle('./disco/deepscreen_clean/targets_validados.pickle')
targets_validados

,uniprot_accession,chembl_id,yeast_genome,sequence
0,Q99685,CHEMBL4191,NaN,NaN
1,O35678,CHEMBL5774,NaN,NaN
2,Q15046,CHEMBL5575,NaN,NaN
3,Q4D7V3,NaN,NaN,NaN
4,Q8IDJ8,CHEMBL3301561,NaN,NaN
5,Q86SQ9,NaN,NaN,NaN
6,Q96E22,NaN,NaN,NaN
7,P35196,NaN,RER2,NaN
8,Q12063,NaN,NUS1,NaN
9,Q4DV81,NaN,NaN,NaN
10,NaN,NaN,KRS1,MSQQDNVKAAAEGVANLHLDEATGEMVSKSELKKRIKQRQVEAKKA...

In [4]:
autores = pd.read_csv("/home/sjinich/disco/deepscreen_clean/chembl27_uniprot_mapping.txt",delimiter='\t',header=None,names=['uniprot_accesion','target_id','anotation','type'])

In [7]:
autores

,uniprot_accesion,target_id,anotation,type
0,P21266,CHEMBL2242,Glutathione S-transferase Mu 3,SINGLE PROTEIN
1,O00519,CHEMBL2243,Anandamide amidohydrolase,SINGLE PROTEIN
2,P19217,CHEMBL2244,Estrogen sulfotransferase,SINGLE PROTEIN
3,P97292,CHEMBL2245,Histamine H2 receptor,SINGLE PROTEIN
4,P17342,CHEMBL2247,Atrial natriuretic peptide receptor C,SINGLE PROTEIN
...,...,...,...,...
11779,Q91ZR5,CHEMBL3886121,Cation channel sperm-associated protein 1,SINGLE PROTEIN
11780,P48763,CHEMBL3886122,Sodium/hydrogen exchanger 2,SINGLE PROTEIN
11781,Q9UKU6,CHEMBL3886123,Thyrotropin-releasing hormone-degrading ectoen...,SINGLE PROTEIN
11782,Q9JJH7,CHEMBL3886124,Transient receptor potential cation channel su...,SINGLE PROTEIN
11783,B2GV46,CHEMBL3886125,Free fatty acid receptor 3,SINGLE PROTEIN

In [48]:
autores[autores.uniprot_accesion.isin(targets_validados.uniprot_accession)]

     uniprot_accesion      target_id              anotation            type
1749           Q99685     CHEMBL4191   Monoglyceride lipase  SINGLE PROTEIN
2845           O35678     CHEMBL5774   Monoglyceride lipase  SINGLE PROTEIN
2958           Q15046     CHEMBL5575  Lysyl-tRNA synthetase  SINGLE PROTEIN
9667           Q8IDJ8  CHEMBL3301561    Lysine--tRNA ligase  SINGLE PROTEIN

In [49]:
autores[autores.target_id.isin(targets_validados.chembl_id)]

     uniprot_accesion      target_id              anotation            type
1749           Q99685     CHEMBL4191   Monoglyceride lipase  SINGLE PROTEIN
2845           O35678     CHEMBL5774   Monoglyceride lipase  SINGLE PROTEIN
2958           Q15046     CHEMBL5575  Lysyl-tRNA synthetase  SINGLE PROTEIN
9667           Q8IDJ8  CHEMBL3301561    Lysine--tRNA ligase  SINGLE PROTEIN